.formBoxContainer {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.commentBox{
  width: 100%;
  height: auto;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  border: none;
  outline: none;
  background: whitesmoke;
  color: black;
  resize: none;
  border-bottom: 2px solid black;
  padding: 0px 20px 0px 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttons{
  margin-top: 8px;
  padding: 4px;
  background:  rgb(0, 0, 0);
  border: none;
  width: 100%;
  font-size: 13px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);
  cursor: pointer;
  border: 3px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all ease-in-out .1s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttons:hover{
  background:whitesmoke;
  color: black;
}


@media screen and (max-width: 800px){
  .commentBox {
    border-bottom: none;
  }
}