.storyBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding: 3px;
  color: black;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation-name: fadeIn;
  animation-duration: .4s;
  transition: all ease-in-out .4s;
  align-items: flex-end !important;
}

.theStory{
  border-top-right-radius: 15px;
  border-bottom-right-radius:15px ;
  border-top-left-radius: 15px;
  background: white;
  font-size: 15px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  padding: 5px;
}
.theStory:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,.6)
}
.storyContainer{
  width: 100%;
  height: 100%;
}
@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}
@keyframes jumpy {
  0%{margin-top: 0px;}
  50%{margin-top: -15px}
  100%{margin-top: 0px;}
}

@media screen and (max-width: 800px){
  .storyBox{
    border: none;
    padding: 10px;
    height: auto;
  }
  .storyBox h2{
    font-size: .5em;
  }
}