.storyBoardContainer {
  height: 100%;
  width: 100%;
}
.whereBox {
  height: auto;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid black;
}
.whereBox h2{
  letter-spacing: 1px;
  font-size: 1.3em;
}
.logoBox {
  height: auto;
  width: auto;
  animation-name: fade;
  transition: all ease-in-out 0.4s;
}
.storyBox {
  height: 70%;
  padding: 0px 10px;
  width: 100%;
  color: black;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation-name: fade;
  transition: all ease-in-out 0.4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
